@import "./colors";
@import "./root";
@import "./atributions";
.left {
    width: 100%;

    @media only screen and (min-width: 1000px) {
        background-image: url("../images/bg-pattern-desktop.svg");
        width: 100%;
    }
}
.rigth {
    display: none;
    width: 100%;
    @media only screen and (min-width: 1000px) {
        display: block;
        // border: 1px solid green;

        &__image {
            display: block;
            height: 100%;
            object-fit: cover;
        }
    }
}

.logo {
    width: 100%;
    padding: 2em;
    @media only screen and (min-width: 1000px) {
        // border: 1px solid red;
        padding: 5em 8em;
    }
}

.image {
    width: 100%;
    
    &__hero {
        width: 100%;
       
        object-fit: cover;
        @media only screen and (min-width: 1000px) {
            display: none;
        }
    }
}

.wellcome {
    width: 100%;
    padding: 5em 2em;
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 1000px) {
        // border: 1px solid red;
        padding: 3em 12em 3em 8em;
    }
    &__title {
        width: 100%;
        &__top,
        &__bottom {
            text-transform: uppercase;
            text-align: center;
            font-size: 2.5em;
            letter-spacing: 0.3em;
            @media only screen and (min-width: 1000px) {
                // border: 1px solid red;
                font-size: 4em;
                text-align: start;
            }
        }
        &__top {
            color: $Desaturated_Red;
            font-weight: 300;
        }
        &__bottom {
            color: $Dark_Grayish_Red;
            font-weight: 600;
        }
    }
    &__description {
        margin: 2em 0;
        text-align: center;
        line-height: 1.5;
        color: $Desaturated_Red;
        @media only screen and (min-width: 1000px) {
            text-align: start;
        }
    }

    &__form {
        position: relative;
        width: 100%;
        display: flex;
        // border: 1px solid red;

        &__email {
            width: 100%;
            padding: 1.5em;
            height: 3.5em;
            border-radius: 100px;
            border: 1px solid $Desaturated_Red;
            outline: none;
            font-family: "Josefin Sans";
            color: $Dark_Grayish_Red;
            transition: 1s border ease;
            &.error {
                border: 2px solid darken($Soft_Red, 10%);
            }

            &:invalid {
                box-shadow: none;
            }
            &::-webkit-input-placeholder {
                color: $Desaturated_Red;
            }
            &::-moz-placeholder {
                color: $Desaturated_Red;
            }
            &:-ms-input-placeholder {
                color: $Desaturated_Red;
            }
            &::-ms-input-placeholder {
                color: $Desaturated_Red;
            }
            &::placeholder {
                color: $Desaturated_Red;
            }
        }
        &__error {
            position: absolute;
            right: 100px;
            top: 10px;
            opacity: 0;
            transition: 1s opacity ease;
            &.active {
               
                opacity: 1;
                
            }
        }
        &__submit {
            position: absolute;
            right: 0;
            width: 6em;
            height: 3.5em;
            transition: 0.2s width linear;
            border: 0 ;
            border-radius: 100px;
            background-image: linear-gradient(
                135deg,
                hsl(0, 80%, 86%),
                hsl(0, 74%, 74%)
            );

            &:hover {
                width: 4em;
                cursor: pointer;
                
                
                box-shadow: 0 0 1em rgba($Soft_Red, 0.7)
            }
        }
    }

    &__response {
        color: darken($Soft_Red, 10%);
        // border: 1px solid red;
        padding: 0.5em 2em;
        font-size: 0.8em;
        opacity: 0;
        transition: 1s opacity ease;
        &.active{
           
            opacity: 1;
        }
    }
}


